In [67]:
from numpy.random import randn
import numpy as np
np.random.seed(123)
import os
import matplotlib.pyplot as plt
import pandas as pd
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)
pd.options.display.max_rows = 20

In [68]:
fec = pd.read_csv('datasets/fec/P00000001-ALL.csv')
fec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15584 entries, 0 to 15583
Data columns (total 16 columns):
cmte_id              15584 non-null object
cand_id              15584 non-null object
cand_nm              15584 non-null object
contbr_nm            15584 non-null object
contbr_city          15582 non-null object
contbr_st            15584 non-null object
contbr_zip           15580 non-null float64
contbr_employer      15463 non-null object
contbr_occupation    15468 non-null object
contb_receipt_amt    15584 non-null float64
contb_receipt_dt     15584 non-null object
receipt_desc         461 non-null object
memo_cd              224 non-null object
memo_text            522 non-null object
form_tp              15583 non-null object
file_num             15583 non-null float64
dtypes: float64(3), object(13)
memory usage: 1.9+ MB

In [18]:
parties = {'Bachmann, Michelle': 'Republican',
           'Cain, Herman': 'Republican',
           'Gingrich, Newt': 'Republican',
           'Huntsman, Jon': 'Republican',
           'Johnson, Gary Earl': 'Republican',
           'McCotter, Thaddeus G': 'Republican',
           'Obama, Barack': 'Democrat',
           'Paul, Ron': 'Republican',
           'Pawlenty, Timothy': 'Republican',
           'Perry, Rick': 'Republican',
           "Roemer, Charles E. 'Buddy' III": 'Republican',
           'Romney, Mitt': 'Republican',
           'Santorum, Rick': 'Republican'}

In [27]:
fec.cand_nm[123456:123461]
fec.cand_nm[123456:123461].map(parties)
# Add it as a column
fec['party'] = fec.cand_nm.map(parties)
fec['party'].value_counts()

Republican    15343
Name: party, dtype: int64

In [28]:
(fec.contb_receipt_amt > 0).value_counts()

True    15343
Name: contb_receipt_amt, dtype: int64

In [47]:
fec = fec[fec.contb_receipt_amt > 0]

In [48]:
fec_mrbo = fec[fec.cand_nm.isin(['Obama, Barack', 'Romney, Mitt'])]

In [49]:
fec.contbr_occupation.value_counts()[:10]

RETIRED          4242
NOT PROVIDED     1585
HOMEMAKER        1019
ATTORNEY          692
PHYSICIAN         374
PRESIDENT         266
CEO               249
SELF-EMPLOYED     226
EXECUTIVE         193
REAL ESTATE       192
Name: contbr_occupation, dtype: int64

In [50]:
occ_mapping = {
   'INFORMATION REQUESTED PER BEST EFFORTS' : 'NOT PROVIDED',
   'INFORMATION REQUESTED' : 'NOT PROVIDED',
   'INFORMATION REQUESTED (BEST EFFORTS)' : 'NOT PROVIDED',
   'C.E.O.': 'CEO'
}

# If no mapping provided, return x
f = lambda x: occ_mapping.get(x, x)
fec.contbr_occupation = fec.contbr_occupation.map(f)

In [51]:
emp_mapping = {
   'INFORMATION REQUESTED PER BEST EFFORTS' : 'NOT PROVIDED',
   'INFORMATION REQUESTED' : 'NOT PROVIDED',
   'SELF' : 'SELF-EMPLOYED',
   'SELF EMPLOYED' : 'SELF-EMPLOYED',
}

# If no mapping provided, return x
f = lambda x: emp_mapping.get(x, x)
fec.contbr_employer = fec.contbr_employer.map(f)

In [52]:
by_occupation = fec.pivot_table('contb_receipt_amt',
                                index='contbr_occupation',
                                columns='party', aggfunc='sum')
over_2mm = by_occupation[by_occupation.sum(1) > 2000000]
over_2mm

Empty DataFrame
Columns: [Republican]
Index: []

In [53]:
plt.figure()

In [54]:

plt.figure()

In [55]:
grouped = fec_mrbo.groupby(['cand_nm', 'contbr_st'])
totals = grouped.contb_receipt_amt.sum().unstack(0).fillna(0)
totals = totals[totals.sum(1) > 100000]
totals[:10]

cand_nm    Romney, Mitt
contbr_st
AL            527303.51
AR            105556.00
AZ           1888436.23
CA           8986253.26

In [56]:

percent = totals.div(totals.sum(1), axis=0)
percent[:10]

cand_nm    Romney, Mitt
contbr_st
AL                  1.0
AR                  1.0
AZ                  1.0
CA                  1.0