In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:

tup = tuple('string')
tup[0]

's'

In [7]:
tup = tuple(['foo', [1, 2], True])
tup[1].append('YEA')
tup

('foo', [1, 2, 'YEA'], True)

In [8]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [9]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [10]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

[3, 4, 5]

In [11]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [12]:
#LIST
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [13]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#METHODS
b_list.append('dwarf')
b_list

['peekaboo', 'baz', 'dwarf']

In [17]:
b_list.insert(1, 'red')
b_list

['peekaboo', 'red', 'baz', 'dwarf']

In [18]:
b_list.pop(2)
b_list

['peekaboo', 'red', 'dwarf']

In [14]:
b_list.remove('foo')
b_list

['peekaboo', 'baz']

In [19]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [21]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [20]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [25]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

bisect.bisect(c, 5)
bisect.insort(c, 6)
c

In [26]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [27]:
seq[:5]
seq[3:]

[7, 5, 6, 0, 1]

In [28]:

seq[::2]

[7, 3, 5, 0]

In [29]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [30]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [31]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

last_names

('Ryan', 'Clemens', 'Curt')

In [32]:
first_names

('Nolan', 'Roger', 'Schilling')

In [34]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [36]:
#dictionary
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [38]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 5: 'some value',
 'dummy': 'another value'}

In [39]:
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [40]:
hash('string')

-9005049949979437800

In [41]:
hash((1, 2, (2, 3)))

1097636502276347782

In [42]:
#set
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [43]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [44]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [47]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [48]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [50]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [51]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [52]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [54]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [55]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [57]:
%pushd

['~', '~']

In [59]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']